small {
    color:red;
}

.oBut{
    background-color: #F26926 !important; 
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 7em;     /* Static width buttons */
    outline:none;   /* Removing outline */
    border-radius: 10em;
    font: futura;
    font-weight: bold;
    color: #ffffff !important;
}

.main{
    margin: 15% 2%;
  }

  .mat-card-header{
      margin-bottom: 3%;  
  }

  .mat-card-title{
    font-size: 200%;
  }

  .mat-select{
      border: none;
  }

  ::ng-deep .mat-form-field-label{
    color: rgb(150, 150, 150) !important; 
    font-size: 110%;  
  }
  
  ::ng-deep .mat-form-field-ripple{
    background-color: #F26926 !important;   
  }
  