small {
    color:red;
}

section{
font: futura;
}

.oBut{
    background-color: #F26926 ; 
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 150px;     /* Static width buttons */
    outline:none;   /* Removing outline */
    border-radius: 10em;
    font: futura;
    font-weight: bold;
    color: #ffffff;
}
.oBut:hover{
  background-color:#717F92;
  color: white;
}
.oBut:disabled{
  background-color: #F26926 ; 
  color: #ffffff ;
}
.main{
    margin: 5% 2%;
  }

  .register-form {
    border: 1px solid #dddddd;
    border-radius: 7px;
    padding: 3%;
    margin:0px auto;
    width: 80%;
    text-align: center;
    background-image: url(/../assets/oBack.svg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

  .mat-card-header{
      margin-bottom: 3%;  
  }

  .mat-card-title{
    font: futura;
    font-weight: bold;
    font-size: 200%;
  }

  .mat-select{
      border: none;
  }

  ::ng-deep .mat-form-field-label{
    color: rgb(150, 150, 150) !important; 
    font: futura;
    font-size: 110%;  
  }

::ng-deep .mat-form-field{
  color: rgb(150, 150, 150) !important; 
  font: futura;
  font-size: 110%; 
}

::ng-deep .mat-form-field-ripple{
  background-color: #F26926 !important;   
}
  
.table-mobile {
	display: table !important;
}

.table-mobile .row {
	display: table-row !important;
}

.table-mobile .cell {
	display: table-cell;
}

input{
  color: black;
}
mat-label{
  font-size: 1.1vw;
  font-weight: bold;
  color: black;
}