<section>
    <mat-card class="register-form">
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="center">
        <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>REGISTER</mat-card-title>
        </mat-card-header>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
        <div fxFlex="30%" class="fillInput">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" placeholder="Username" [(ngModel)]="user.userName" name="userName">
                <small *ngIf="user.userName && !validationService.validateUserName(user.userName)">User Name Should Be 3 to 12 Characters</small>
            </mat-form-field>
        </div>
        <div fxFlex="30%" class="one">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input id="firstName" matInput type="text" placeholder="First Name" [(ngModel)]="user.firstName" name="firstName">
                <small *ngIf="user.firstName && !validationService.validateName(user.firstName)">Invalid Name</small>
            </mat-form-field>
        </div>
        <div fxFlex="30%" class="two">
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input id="lastName" matInput type="text" placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName">
                <small *ngIf="user.lastName && !validationService.validateName(user.lastName)">Invalid Name</small>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center" class="relocate">
        <div fxFlex="30%" class="one">
            <mat-form-field >
                <mat-label>Email</mat-label>
                <input id="email" matInput type="text" placeholder="Email" [(ngModel)]="user.email" name="email">
                <small *ngIf="user.email && !validationService.validateEmail(user.email)">Invalid Email</small>
            </mat-form-field>
        </div>
        <div fxFlex="30%" class="two">
            <mat-form-field>
                <mat-label>Phone #</mat-label>
                <input id="phone" matInput type="text" placeholder="Phone #" [(ngModel)]="user.phoneNumber" name="phone">
                <small *ngIf="user.phoneNumber && !validationService.validatePhone(user.phoneNumber)">Invalid Phone Number</small>
            </mat-form-field>
        </div>
        <div fxFlex="30%" class="address fillInput">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input id="address" matInput type="text" [disabled]="validAddress" placeholder="Address" name="address" matGoogleMapsAutocomplete
                (onLocationSelected)="onLocationSelected($event)">
            </mat-form-field>
        </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="relocate2" >
        <div fxFlex="30%" class="fillInput">
            <mat-form-field>
                <mat-label>Location</mat-label>
                <mat-select  id="location" [(value)]="location" class="form-control">
                    <mat-option *ngFor="let locationName of locationNames" value="{{locationName}}">{{locationName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="30%" class="fillInput">
            <mat-form-field>
                <mat-label>Batch Number</mat-label>
                <mat-select id="batchNumber" [(value)]="batchNumber" class="form-control" (click)="getLocationBatches()">
                    <mat-option *ngFor="let batchNumber of locationBatchNumbers" value="{{batchNumber}}">{{batchNumber}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="30%"></div>

    </div>
    <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" class="relocate2">
        <mat-card-actions>
            <button mat-raised-button type="submit" (click)="signUp()" [disabled]="!(user.userName && user.firstName && user.lastName && user.email
            && user.phoneNumber && user.address && validationService.validatePhone(user.phoneNumber)
            && validationService.validateUserName(user.userName) && validationService.validateName(user.firstName)
            && validationService.validateName(user.lastName) && validationService.validateEmail(user.email)
            && validationService.validateBatchNumber(batchNumber) && validationService.validateBatchLocation(location))"
            class="button oBut">SUBMIT</button>
        </mat-card-actions>
    </div>
    </mat-card>
</section>
