<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <img src="../assets/Logo_2.svg" alt="RideShare"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRideshare" aria-controls="navbarRideshare" aria-expanded="false" aria-label="navbarRideshare">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarRideshare" >
      <ul class="ml-auto headList navbar-nav" *ngIf="!name && !admin">
        <li class="nav-item tList">
          <a [routerLink]="['/login']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">SIGN IN</a>
        </li>
        <li class="nav-item tList">
          <a [routerLink]="['/register']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">SIGN UP</a>
        </li>
        <li class="nav-item tList">
          <a [routerLink]="['/login/admin']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">ADMIN</a>
        </li>
      </ul>
      <ul class="ml-auto headList navbar-nav" *ngIf="name">
        <li class="nav-item tList">
          <div *ngIf="isDriver == true; else elseBlock"><a [routerLink]="['home/drivers']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="isNavbarCollapsed = true">HOME</a></div>
          <ng-template #elseBlock><a [routerLink]="['home/riders']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="isNavbarCollapsed = true">HOME</a></ng-template>
        </li>
        <li class="nav-item tList">
          <a [routerLink]="['/profile']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="isNavbarCollapsed = true">PROFILE</a>
        </li>
        <li class="nav-item tList">
          <a (click)="logout()" >LOGOUT</a> 
        </li>
      </ul>
      <ul class="ml-auto headList navbar-nav" *ngIf="admin">
        <li class="nav-item tList">
          <a [routerLink]="['admin']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" (click)="isNavbarCollapsed = true">HOME</a>
        </li>
        <li class="nav-item tList">
          <a (click)="logout()" >LOGOUT</a> 
        </li>
      </ul>
    </div>
  </div>
</nav>
