.card-detail {
    background-image: url('/../assets/blueBck.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
}
.card-title {
    display: flex;
    justify-content: center;
    
}
#detail th {
    padding-top: 20px;
    padding-left: 25px;
}

section{
    margin: 5% 2%;
}

.responsive {
    max-width: 100%;
    height: auto;
}

th, td{
    font: futura;
    background-color: rgba(255, 255, 255, 0.144);
    font-size: 1.25em;
    border-bottom: 2px solid white;
    padding: 1.4vw;
}
h3{
    font: futura;
    font-size: 1.5em;
    font-weight: bold;
}
table{
    width:100%;
    padding:0px;
    margin: 0px;
}
.tHeader{
    border-top: 6px solid white;
}

.image{
    margin-top: 1%;
    text-align: center;
    
}

.mat-card-image:first-child{
    margin-top: 16px !important;
}