.card-detail {
    background-image: url('/../assets/blueBck.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.card-title {
    display: flex;
    justify-content: center;
    
}
#detail th {
    padding-top: 20px;
    padding-left: 25px;
}

section{
    margin: 10% 2%;
}

.responsive {
    max-width: 100%;
    height: auto;
}
th{
    font: futura;
    font-size: 1.25em;
}
h3{
    font: futura;
    font-size: 1.5em;
    font-weight: bold;
}