.card-detail {
    background: rgba(102, 152, 185, 0.4);
}
.card-title {
    display: flex;
    justify-content: center;
}
#detail th {
    padding-top: 20px;
    padding-left: 25px;
}

section{
    margin: 10% 2%;
}

.responsive {
    max-width: 100%;
    height: auto;
}