<main id="mapContainer" class="container-fluid">
  <div *ngIf="inputVisibility">
    <input
      matGoogleMapsAutocomplete
      (onLocationSelected)="onLocationSelected($event)"
    />
  </div>
  <agm-map
    [streetViewControl]="false"
    [fitBounds]="true"
  >
    <agm-marker
      [agmFitBounds]="true"
      [latitude]="latitude"
      [longitude]="longitude"
      [iconUrl]="riderMarkerPath"
    ></agm-marker>
    <div *ngFor="let marker of markerList">
      <agm-marker
        [agmFitBounds]="true"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [iconUrl]="driverMarkerPath"
      ></agm-marker>
    </div>
  </agm-map>
</main>
