@media only screen and (max-width: 768px) {
  #mapContainer {
    height: 65vw;
    width: 65vw;
  }
  agm-map {
    height: 100%;
    width: 100%;
  }
  input {
    height: 15%;
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  #mapContainer {
    height: 65vh;
    width: 65vh;
  }
  agm-map {
    height: 100%;
    width: 100%;
  }
  input {
    height: 15%;
    width: 100%;
  }
}
