<main id="mapContainer" class="container-fluid">
  <div *ngIf="inputVisibility">
    <input
      matGoogleMapsAutocomplete
      (onLocationSelected)="onLocationSelected($event)"
    />
  </div>
  <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    [streetViewControl]="false"
    [fitBounds]="true"
    (mapClick)="moveMarker($event.coords.lat, $event.coords.lng)"
  >
    <div *ngFor="let marker of markerList">
      <agm-marker
        [agmFitBounds]="true"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
      ></agm-marker>
    </div>
    <agm-direction
      [origin]="origin"
      [destination]="destination"
    ></agm-direction>
  </agm-map>
</main>
