<section class="main" >
    <div *ngIf="!myCar.carId" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
        <div style="text-align: center ;">
            <h1 >You Don't Have A Car In Your Account</h1><br/> 
            <img src="../assets/noCar.jpeg" alt="Stop" class="responsive"/>
        </div>
            <div style="text-align: center ;">
            <button mat-raised-button class="oBut" type="button"  routerLink="/new/car">Add A Car</button>
        </div>
    </div>
    <div *ngIf="myCar.carId" fxLayout="row" fxLayout.xs="column-reverse" fxLayoutWrap fxLayoutGap="100%" fxLayoutAlign="center">
        
        <div fxFlex="100%">
            <div class="spacer"></div>
        <mat-card class="card-detail">
            <h1>My Car</h1><br/>
            <table class="table" aria-describedby="Car Information">
                <tr>
                    <th scope="col">Color:</th>
                    <td>{{myCar.color | titlecase}}</td>
                </tr>
                <tr>
                    <th scope="col">Seats:</th>
                    <td>{{myCar.seats}}</td>
                </tr>
                <tr>
                    <th scope="col">Make:</th>
                    <td>{{myCar.make | titlecase}}</td>
                </tr>
                <tr>
                    <th scope="col">Model:</th>
                    <td>{{myCar.model | titlecase}}</td>
                </tr>
                <tr>
                    <th scope="col">Year:</th>
                    <td>{{myCar.year}}</td>
                </tr>
            </table>
            <br/>
            <div class="text-center">
                <button type="button" class="oBut" (click)="removeMyCar()">Remove</button>
            </div>
        </mat-card>
        </div>
    </div>
</section>