<section class="main" >
<div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutGap="3%" fxLayoutAlign="center">
    <div fxFlex="45%" fxLayout="row wrap" class="image">
        <img mat-card-image src="../assets/login.jpeg" alt="RideShare" class="responsive"/>
    </div>
    <div fxFlex="45%">
      <mat-card class="example-card loginCard" >
        <mat-card-content>
            <mat-form-field>
                <mat-label>Account</mat-label>
                <input matInput type="text" color="warn" placeholder="Select An Account" name="chosenUserFullName" [(ngModel)]="chosenUserFullName" (click)="toggleDropDown()" (ngModelChange)="searchAccount()">
                <mat-select>                    
                    <mat-option *ngFor="let user of users" (click)="changeUser(user)">{{user.firstName}} {{user.lastName}}: {{user.driver? "Driver" : "Rider"}}</mat-option>                  
                </mat-select>
            </mat-form-field>
              <br>
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" color="warn" [(ngModel)]="userName" name="userName" placeholder="Username">
              </mat-form-field><br>
              <p class="alert alert-danger" *ngIf="failed"><strong>Login Failed!</strong></p>
              <p class="alert alert-danger" *ngIf="banned"><strong>You are banned</strong></p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="button" class="button oBut" (click)="login()" (keyup.enter)="login()" [disabled]="!(userName && chosenUserFullName)">LOGIN</button>
            <p>Need An Account? <a routerLink="/register">Sign Up</a></p>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>
</section>

