h2 {
    font-size: 1.375rem;
    font-weight: 400;
}

button {
    margin-left: 1%;
}

small {
    color: red;
}

.edit {
    cursor: pointer;
}

#profile {
    margin-left: 3%;
    margin-right: 3%;
}

input {
    background-color: white;
    border: none;
}

.oBut{
    background-color: #F26926; 
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 7em;     /* Static width buttons */
    outline:none;   /* Removing outline */
    border-radius: 10em;
    font: futura;
    font-weight: bold;
    color: #ffffff;
}

.toggle-example{
    padding: 7px;
    size: 50px;
}

/* CSS to change Default/'Accent' color */

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #F26926;  /*replace with your color*/
}


.editField {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.card-detail {
    background: rgba(102, 152, 185, 0.4);
}
.card-title {
    display: flex;
    justify-content: center;
}
#detail th {
    padding-top: 20px;
    padding-left: 25px;
}

section{
    margin: 10% 2%;
}
.seat{
    width:2vw;
}
