<section>
    <div fxLayout="row" fxLayout.sm="column-reverse" fxLayout.xs="column-reverse" fxLayoutWrap fxLayoutGap="3%" fxLayoutAlign="center">
        <div fxFlex="45%" class="image">
            <img  mat-card-image src="../assets/profile.jpeg" class="responsive">
        </div>
        <div fxFlex="45%">
            
        <mat-card class="card-detail">
            <mat-card-header class="card-title" > 
                <mat-card-title><h3>Profile</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content *ngIf="newUser.userId" > 
                <div fxLayout="row">
                    <div fxFlex="100%">
                    <table id="detail" aria-describedby="Profile">
                        <tr class="tHeader">
                            <th id="Name">Name: </th>
                            <td>{{user.firstName}} {{user.lastName}}</td>
                        </tr>
                        <tr>
                            <th id="Email">Email: </th>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <th id="Phone">Phone: </th>
                            <td>{{user.phoneNumber}}</td>
                        </tr>
                        <tr>
                            <th id="Batch">Batch: </th>
                            <td>{{user.batch.batchLocation}}</td>
                        </tr>
                    </table>
                    </div>
                </div>
                <br>
                <div fxLayout="row">
                    <div fxFlex="10%"></div>
                    <div fxFlex="40%">
                        <div *ngIf="user.driver ">
                           <button id="viewVehButton" class="oBut" routerLink="/car">View Vehicle</button>
                        </div>
                        <div *ngIf="!user.driver">
                            <div *ngIf="ownCar">
                                <button id="viewVehButton2" class="oBut" routerLink="/car">View Vehicle</button>
                            </div>
                            <div *ngIf="!ownCar">
                                <button id="addVehButton"class="oBut" routerLink="/new/car">Add Vehicle</button>
                            </div>
                            
                        </div>
                        <br>
                        <div *ngIf= "user.driver"  >
                            <img src="../assets/seat.svg" alt="seat" class="seats">
                            <mat-form-field class="seatInput">
                                <input matInput type="text" name="seats" [(ngModel)]="myCar.seats"/> 
                            </mat-form-field>
                            <img class="edit" (click)="updateSeat()" src="assets/pencil.png"/>
                            
                        </div>
                    </div>
                    <div fxFlex="40%">
                        <div>
                           
                            <mat-slide-toggle
                            id="driverTog"
                            class="toggle-example"
                            [color]="color"
                            [checked]="user.driver"
                            (change) ="toggleDriver()" 
                            [disabled]="!(user.active && ownCar)">
                            </mat-slide-toggle>
                            <div class="toggleText">
                                <div *ngIf="user.driver">Driver</div>
                                <div *ngIf="!user.driver">Rider</div>
                            </div>
                           
                        </div><br>
                        <div *ngIf="user.driver" class="right">
                            <mat-slide-toggle
                                id="ridesTog"
                                class="toggle-example"
                                [color]="color"
                                [checked]="user.acceptingRides"
                                (change) ="toggleAcceptRider()" 
                                [disabled]="!(user.driver && user.active)">
                            </mat-slide-toggle>
                            <div class="toggleText">
                                <div *ngIf="user.acceptingRides">Accepting</div>
                                <div *ngIf="!user.acceptingRides">Decline</div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</section>


