<section>
    
    <div fxLayout="row" fxLayout.xs="column-reverse" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="center">
        <div fxFlex="45%">
            <img  mat-card-image src="../assets/profile.jpeg" class="responsive">
        </div>
        <div fxFlex="45%">
            
        <mat-card class="card-detail">
            <mat-card-header class="card-title" > 
                <mat-card-title><h3>Profile</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row">
                    <!-- <div fxFlex="10%"></div> -->
                    <div fxFlex="100%">
                    <table id="detail"> 
                        <tr class="tHeader">
                            <th>First Name</th>
                            <th>{{user.firstName}} {{user.lastName}}</th>
                        </tr>
                        <tr>
                            <th>Email: </th>
                            <th>{{user.email}}</th>
                        </tr>
                        <tr>
                            <th>Phone: </th>
                            <th>{{user.phoneNumber}}</th>
                        </tr>
                        <tr>
                            <th>Batch: </th>
                            <th>{{user.batch.batchLocation}}</th>
                        </tr>
                    </table>
                    </div>
                </div>
                <br>
                <div fxLayout="row">
                    <div fxFlex="10%"></div>
                    <div fxFlex="40%">
                        <div *ngIf="user.driver ">
                           <button class="oBut" routerLink="/car">View Vehicle</button>
                        </div>
                        <div *ngIf="!user.driver">
                            <div *ngIf="ownCar">
                                <button class="oBut" routerLink="/car">View Vehicle</button>
                            </div>
                            <div *ngIf="!ownCar">
                                <button class="oBut" routerLink="/new/car">Add Vehicle</button>
                            </div>
                            
                        </div>
                        <br>
                        <div *ngIf= "user.driver" >
                            <mat-form-field class="seat">
                                <input matInput type="text" name="seats" [(ngModel)]="myCar.seats"/> 
                            </mat-form-field>
                            <!-- <img class="edit" (click)="edit('seats')" src="assets/pencil.png"/> -->
                        </div>
                    </div>
                    <div fxFlex="40%">
                        <div>
                            <mat-slide-toggle
                            class="toggle-example"
                            [color]="color"
                            [checked]="user.driver"
                            (change) ="toggleDriver()" 
                            [disabled]="!(user.active && ownCar)">
                                <div *ngIf="user.driver">Driver</div>
                                <div *ngIf="!user.driver">Rider</div>
                            </mat-slide-toggle>
                        </div><br>
                        <div *ngIf="user.driver">
                            <mat-slide-toggle
                                class="toggle-example"
                                [color]="color"
                                [checked]="user.acceptingRides"
                                (change) ="toggleAcceptRider()" 
                                [disabled]="!(user.driver && user.active)">
                                <div *ngIf="user.acceptingRides">Accepting</div>
                                <div *ngIf="!user.acceptingRides">Decline</div>
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
</section>


<!-- <div class="container">
    <div id="profile" *ngIf="newUser.userId">
        <h2>Profile</h2>
        <table class="table table-hover">
            <tr>
                <th scope="col">User Name</th>
                <td><input type="text" name="userName" [(ngModel)]="newUser.userName" [readonly]="editable!=='userName'" [ngClass]="editable==='userName' ? 'editField' : ''"></td>
                <td><img class="edit" (click)="edit('userName')" src="assets/pencil.png"/></td>
            </tr>
            <small *ngIf="newUser.userName && !validationService.validateUserName(newUser.userName)">Invalid Username</small>
            <tr>
                <th scope="col">First Name</th>
                <td><input type="text" name="firstName" [(ngModel)]="newUser.firstName" [readonly]="editable!=='firstName'" [ngClass]="editable==='firstName' ? 'editField' : ''"></td>
                <td><img class="edit" (click)="edit('firstName')" src="assets/pencil.png"/></td>
            </tr>
            <small *ngIf="newUser.firstName && !validationService.validateName(newUser.firstName)">Invalid Name</small>
            <tr>
                <th scope="col">Last Name</th>
                <td><input type="text" name="lastName" [(ngModel)]="newUser.lastName" [readonly]="editable!=='lastName'" [ngClass]="editable==='lastName' ? 'editField' : ''"></td>
                <td><img class="edit" (click)="edit('lastName')" src="assets/pencil.png"/></td>
            </tr>
            <small *ngIf="newUser.lastName && !validationService.validateName(newUser.lastName)">Invalid Name</small>
            <tr>
                <th scope="col">Email</th>
                <td><input type="text" name="email" [(ngModel)]="newUser.email" [readonly]="editable!=='email'" [ngClass]="editable==='email' ? 'editField' : ''"></td>
                <td><img class="edit" (click)="edit('email')" src="assets/pencil.png"/></td>
            </tr>
            <small *ngIf="newUser.email && !validationService.validateEmail(newUser.email)">Invalid Email</small>
            <tr>
                <th scope="col">Phone</th>
                <td><input type="text" name="phoneNumber" [(ngModel)]="newUser.phoneNumber" [readonly]="editable!=='phoneNumber'" [ngClass]="editable==='phoneNumber' ? 'editField' : ''"></td>
                <td><img class="edit" (click)="edit('phoneNumber')" src="assets/pencil.png"/></td>
            </tr>
            <small *ngIf="newUser.phoneNumber && !validationService.validatePhone(newUser.phoneNumber)">Invalid Phone#</small>
            <tr>
                <th scope="col">Location</th>
                <td *ngIf="editable!=='batch'">{{newUser.batch.batchLocation}}</td>
                <td *ngIf="editable==='batch'">
                    <select>
                        <option *ngFor="let batch of batches">{{batch.batchLocation}}</option>
                    </select>
                </td>
                <td></td>
            </tr>
            <tr>
                <th scope="col">Batch</th>
                <td *ngIf="editable!=='batch'">{{newUser.batch.batchNumber}}</td>
                <td *ngIf="editable==='batch'">
                    <select>
                        <option *ngFor="let batch of batches">{{batch.batchLocation}}</option>
                    </select>
                </td>
                <td></td>
            </tr>
        </table>
        <div class="text-right">
            <button type="button" class="btn btn-outline-secondary" (click)="restoreChange()" *ngIf="!compareUser()">Restore</button>
            <button type="button" class="btn btn-outline-secondary" (click)="updateProfile()" [disabled]="!(newUser.userName && newUser.firstName && newUser.lastName && newUser.email && newUser.phoneNumber && newUser.batch.batchLocation)">Update</button>
        </div><br>
        <div class="alert alert-danger" *ngIf="noChange">No Change Has Been Made</div>
        <div class="alert alert-success" *ngIf="updateSuccess">Update Success!</div>
        <div class="alert alert-danger" *ngIf="updateFailed">Update Failed! Please Try Again Later</div>
    </div>
</div> -->