<div class="container">

    <!--
        <h3>Add Car To Become A Driver</h3>
        <div class="form-group">
            <label for="color">Color <small>*</small></label><br>
            <input id="color" type="text" placeholder="Color of the Car" [(ngModel)]="car.color" name="color" required><br>
        </div>                
        
         make and model - Communicate with fueleconomy API

        <mat-label>Year</mat-label>
        <select matNativeControl [(ngModel)]="selectedYear" name="year" (change)="updateMakeList()">
          <option value="" selected></option>
          <option *ngFor="let year of years" [value]="year">
            {{year}}
          </option>
    
        <mat-label>Make</mat-label>
        <select matNativeControl [(ngModel)]="selectedMake" name="make">
          <option value="" selected></option>
          <option *ngFor="let make of makes" [value]="makes">
            {{make}}
          </option>

          <mat-label>Make</mat-label>
          <select matNativeControl [(ngModel)]="selectedModel" name="make">
            <option value="" selected></option>
            <option *ngFor="let make of makes" [value]="makes">
              {{make}}
            </option>

        -->
</div>