#mapHold{
    font-family: "futura-pt-bold",sans-serif;
    margin-top: 15em;
}
.lHead{
    font-family: "futura-pt-bold",sans-serif;
    font-size: 1.5vw;
    padding: 1.5em 3em;
    background-color: #F36928;
    border-top-left-radius: 1.5em;
    font-weight: bold;
    border-bottom: 4px solid white;

}
.rHead{
    font-family: "futura-pt-bold",sans-serif;
    font-size: 1.5vw;
    padding: 1.25em 3em;
    background-color: #F36928;
    border-top-right-radius: 1.5em;
    border-bottom: 4px solid white;
}
td{
    font-family: "futura-pt",sans-serif;
    font-size: 1.2vw;
    border-bottom: 2px solid white;
    padding: 1em 1.5em;
    color: white;
    font-weight: bold;
    background-color: #F68C5A;
    
}
.driverBut{
    background-color: rgb(147, 151, 158); 
    border: none;
    color: black;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 7em;    
    outline:none;  
    border-radius: 10em;
    font-family: "futura-pt-bold",sans-serif;
    font-weight: bold;
}
.driverBut:hover{
    background-color:#717F92;
    color: white;
}
.driverBut:disabled{
    background-color: #717F92 ; 
    color: #ffffff ;
}
.lBot{
    border-bottom-left-radius: 1.5em;
}
.rBot{
    border-bottom-right-radius: 1.5em;
}
table{
    display:inline;  
}
.responsive {
    max-width: 90%;
    height: auto;
}

section{
    margin: 7% 2%;
}



