<section>
  <div></div>
  <div
    fxLayout="row"
    fxLayout.xs="column-reverse"
    fxLayoutWrap
    fxLayoutGap="1%"
    fxLayoutAlign="center"
    id="MapPH"
  >
    <div fxFlex="40%">
      <app-google-maps></app-google-maps>
    </div>
    <div fxFlex="40%">
      <table
        class="table table-responsive"
        aria-describedby="A table to display recommended drivers"
      >
        <tr>
          <th scope="col" class="lHead">Available Drivers</th>
          <th scope="col" class="rHead"></th>
        </tr>
        <tr *ngFor="let recommendedUser of recommendations">
          <td>
            {{ recommendedUser.firstName }} {{ recommendedUser.lastName }}
          </td>
          <td><button id="driverdetButtons" class="driverBut">Details</button></td>
        </tr>
      </table>
    </div>
  </div>
</section>
